    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Cairo', sans-serif;
        header {
            flex-flow: wrap row;
            justify-content: space-between;
            font-size: 1rem;
            align-items: center;
            max-width: 100%;
            .header__bcg {
                background-image: url(/Design/ASSET/Mergedbar-21.png);
            }
            .header__logo {
                cursor: pointer;
                margin-left: 2%;
                padding: 1% 0 0 1%;
            }
            .header__menu {
                float: right;
                flex-wrap: wrap;
                margin-right: 1rem;
                padding: 1%;
                margin-top: 1.5rem;
            }
            .header__menu a {
                margin: 2rem;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
                transition: 0.4s;
            }
            .header__menu__ACC {
                color: $primarycolor;
            }
            .header__menu__CON {
                color: $BLACK;
            }
            .header__menu__btn {
                background: none;
                color: $primarycolor;
                padding: 3%;
                border-color: $primarycolor;
                border-radius: 10px;
                outline: none;
                font-size: 20px;
                margin-left: 8px;
            }
            .header__bcg1 {
                background-color: $JEUNE;
            }
            h3 {
                text-align: center;
                color: $BLACK;
            }
            p {
                display: flex;
                flex-direction: column;
                text-align: center;
                line-height: 1.8rem;
                color: $primarycolor;
                font-weight: bold;
            }
        }
    }